<section="sidebar">
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/docketmaster/view">
                                View All Cases
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/docketmaster/add">
                                Create New Case
                            </a>
                        </li>
                        <ul class="nav-item">
                            <a class="nav-link" href="#">
                                Admin
                            </a>
                        </ul>
                        <li class="nav-item">
                            <a class="nav-link" href="/docketmaster/admin/create">
                                Create
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/docketmaster/admin/view">
                                View
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                About Docket Master
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    </section>