<section="sidebar">
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/docketmaster">
                                <span data-feather="home"></span>
                                Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/docketmaster/view">
                                View All Cases
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/docketmaster/add">
                                Create New Case
                            </a>
                        </li>
                        <li class="nav-item dropdown show">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Admin
                            </a>

                            <div class="dropdown-menu">
                                <a class="nav-link" href="/docketmaster/admin/create">
                                    Create
                                </a>
                                <a class="nav-link" href="/docketmaster/admin/view">
                                    View
                                </a>
                            </div>
                        </li>

                        <div class="sidebar-pushdown">
                            <li class="nav-item">
                                <a class="nav-link" href="/docketmaster/about">
                                    About Docket Master
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/docketmaster/contact">
                                    Contact
                                </a>
                            </li>
                        </div>

                    </ul>
                </div>
            </nav>
        </div>
    </div>
    </section>