{{> docketmaster-navbar}}
{{> docketmaster-sidebar}}

<div class="container mt-5 col-8">

    <h1>The Docket Master Story</h1>

    <p>In the Summer of his fortieth year, Eric D. Torres took the Full-Stack Flex part-time coding course to learn the
        intricacies of web design.</p>

    <p>After a decade as a practicing attorney, Mr. Torres knew the frailties of the legal software market; and, he
        looked to fill the void.</p>

    <p>The culmination of this effort congealed into the Docket Master app brought to you by the Docket Master Team:
    </p>

    <ul>
        <li>James Howard a fellow attorney and native Louisianian, he brings a singular commitment to the UI/UX portion
            of Docket Master;</li>
        <li>Shane Schilling whose deep technical knowledge helped inform the back-end design of the project and an all
            around utility player; and</li>
        <li>Alize Hassan whose eye for design is only matched by her love for cats, and without whom Docket Master would
            not look "pretty".</li>
    </ul>

    <h2>The Docket Master Team</h2>

    <div class="card m-4" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Alize Hassan</h5>
            <p class="card-text">Ms. Hassen holds a BA degree and is about to pursue her Master's degree. She enjoys the
                finer elements of web design and cats.</p>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">James Howard</h5>
                <p class="card-text">Mr. Howard is a native of Shreveport, LA; who has lived in Austin for the past
                    decade.
                    He
                    is looking forward to welcoming his first child.</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shane Schilling</h5>
                <p class="card-text">Mr. Schilling is a self-professed nerd who loves all things technical. Mr.
                    Schilling
                    enjoys
                    a cool fall day with an even colder beer.</p>
            </div>
        </div>

        <div class="card m-4" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Eric D. Torres</h5>
                <p class="card-text">Mr. Torres spent his formative years in the dank bayous of Louisiana. His hobbies
                    include
                    binge-watching television and being a curmudgeon.</p>
            </div>
        </div>
    </div>