{{> docketmaster-navbar}}
{{> docketmaster-sidebar}}
{{docketmaster-about}}

<div class="about-section">
    <h1>About DocketMaster</h1>
    <p>Welcome to Docket Master, an integrated application that allows memembers to keep track of the cases,litigants, attorneys, and divisions in their case load.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src = "https://i5.walmartimages.com/asr/01a0b8cd-45ba-4b47-8458-e798a7882b89.12bf705c636567db5851d20d8e5d8e07.jpeg" alt="EricGoat" style="width:100%">
            <div class="card-body">
                <h2>Eric Torres</h2>
                <p class="role">Back End/Creator</p>
                <p>Eric was previously an attorney and came up with the idea for our Docket Master. He is the back-end goat</p>
                <p>You can contact him through his Github</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://i.pinimg.com/originals/38/2c/66/382c664b2b62ddcb136b6e25ea64c25f.jpg" alt="shaneGoat" style="width:100%">
            <div class="card-body">
                <h2>Shane Schilling</h2>
                <p class="role">Back End Developer/Database Goat</p>
                <p>Shane is the mastermind behind our database and is the goat of data.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://t4.ftcdn.net/jpg/00/86/89/81/360_F_86898168_xnUM2i38vyEQVOBX6YEINOD7xy7OxkSk.jpg"
            alt="alizeGoat" style="width:100%">
            <div class="card-body">
                <h2>Alize Hassan</h2>
                <p class="role">Front End Creative</p>
                <p>Alize is a front end goat.</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://64.media.tumblr.com/0f1f1e45c060950291de4ee5f27fb4b9/tumblr_ox80vwrZLR1wo0914o1_400.jpg" alt="jamesGoat" style="width:100%">
            <div class="card-body">
                <h2>James Howard</h2>
                <p class="role">Front End HandleBar Goat</p>
                <p>James is a front end goat of handlebars and js.</p>
            </div>
        </div>
    </div>
</div>