<form id="create-defendant">
    <div class="form-group">
        <label for="defendant"><strong>Enter Defendant</strong></label>
        <input type="text" class="form-control" id="defendantFName" name="defendant"
            placeholder="type in first name here" />
        <input type="text" class="form-control" id="defendantLName" name="defendant"
            placeholder="type in last name here" />
    </div>
    <button type="submit" class="btn">Add this defendant</button>
</form>
<form id="create-plaintiff">
    <div class="form-group">
        <label for="plaintiff"><strong>Enter Plaintiff</strong></label>
        <input type="text" class="form-control" id="plaintiffFName" name="plaintiff"
            placeholder="type in first name here" />
        <input type="text" class="form-control" id="plaintiffLName" name="Plaintiff"
            placeholder="type in last name here" />
    </div>
    <button type="submit" class="btn">Add this Plaintiff</button>
</form>
<form id="create-defendant">
    <div class="form-group">
        <label for="defendant"><strong>Enter Defendant</strong></label>
        <input type="text" class="form-control" id="defendantFName" name="defendant"
            placeholder="type in first name here" />
        <input type="text" class="form-control" id="defendantLName" name="defendant"
            placeholder="type in last name here" />
    </div>
    <button type="submit" class="btn">Add this defendant</button>
</form>
<form id="create-defendant">
    <div class="form-group">
        <label for="defendant"><strong>Enter Defendant</strong></label>
        <input type="text" class="form-control" id="defendantFName" name="defendant"
            placeholder="type in first name here" />
        <input type="text" class="form-control" id="defendantLName" name="defendant"
            placeholder="type in last name here" />
    </div>
    <button type="submit" class="btn">Add this defendant</button>
</form>