

<div class="card">
    <div class="card-header">
        Types
    </div>
    <div class="card-body">
        <ol>
            {{#each plaintiffs}}
            {{> tableViews/plaintiff-block}}
            {{/each}}
        </ol>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Types
    </div>
    <div class="card-body">
        <ol>
            {{#each types}}
            {{> tableViews/type-block}}
            {{/each}}
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Types
    </div>
    <div class="card-body">
        <ol>
            {{#each types}}
            {{> tableViews/type-block}}
            {{/each}}
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Types
    </div>
    <div class="card-body">
        <ol>
            {{#each types}}
            {{> tableViews/type-block}}
            {{/each}}
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Types
    </div>
    <div class="card-body">
        <ol>
            {{#each types}}
            {{> tableViews/type-block}}
            {{/each}}
        </ol>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Types
    </div>
    <div class="card-body">
        <ol>
            {{#each types}}
            {{> tableViews/type-block}}
            {{/each}}
        </ol>
    </div>
</div>