<form id="create-defendant">
    <div class="form-group">
        <label for="defendant"><strong>Enter Defendant</strong></label>
        <input type="text" class="form-control" id="defendantFName" name="defendant"
            placeholder="type in first name here" />
        <input type="text" class="form-control" id="defendantLName" name="defendant"
            placeholder="type in last name here" />
    </div>
    <button type="submit" class="btn">Add this defendant</button>
</form>
<form id="create-plaintiff">
    <div class="form-group">
        <label for="plaintiff"><strong>Enter Plaintiff</strong></label>
        <input type="text" class="form-control" id="plaintiffFName" name="plaintiff"
            placeholder="type in first name here" />
        <input type="text" class="form-control" id="plaintiffLName" name="Plaintiff"
            placeholder="type in last name here" />
    </div>
    <button type="submit" class="btn">Add this Plaintiff</button>
</form>
<form id="create-dAtty">
    <div class="form-group">
        <label for="dAtty"><strong>Enter Defense Attorney</strong></label>
        <input type="text" class="form-control" id="dAttyFName" name="dAtty" placeholder="type in first name here" />
        <input type="text" class="form-control" id="dAttyLName" name="dAtty" placeholder="type in last name here" />
        <input type="text" class="form-control" id="dAttyBarNo" name="dAtty"
            placeholder="type in Attorney Bar Roll No." />
    </div>
    <button type="submit" class="btn">Add this Defense Attorney</button>
</form>
<form id="create-pAtty">
    <div class="form-group">
        <label for="pAtty"><strong>Enter Plaintiff Attorney</strong></label>
        <input type="text" class="form-control" id="pAttyFName" name="pAtty" placeholder="type in first name here" />
        <input type="text" class="form-control" id="pAttyLName" name="pAtty" placeholder="type in last name here" />
        <input type="text" class="form-control" id="pAttyBarNo" name="dAtty"
            placeholder="type in Attorney Bar Roll No." />
    </div>
    <button type="submit" class="btn">Add this Prosecutor</button>
</form>
<form id="create-division">
    <div class="form-group">
        <label for="division"><strong>Enter New Division</strong></label>
        <input type="text" class="form-control" id="division" name="division" placeholder="type in division alphabet" />
        <input type="text" class="form-control" id="judgeFName" name="division"
            placeholder="type in Judge first name here" />
        <input type="text" class="form-control" id="judgeLName" name="division"
            placeholder="type in Judge last name here." />
        <input type="text" class="form-control" id="roomNumber" name="division"
            placeholder="type in room number here" />
    </div>
    <button type="submit" class="btn">Add this Division</button>
</form>
<form id="create-type">
    <div class="form-group">
        <label for="type"><strong>Enter New Classification of Case</strong></label>
        <input type="text" class="form-control" id="type" name="type" placeholder="type in new type of case here" />
    </div>
    <button type="submit" class="btn">Add this Classification</button>
</form>