<form id="create-defendant">
    <div class="form-group">
        <label for="defendant"><strong>Enter Defendant</strong></label>
        <input type="text" class="form-control" id="defendantFName" name="defendant"
            placeholder="type in first name here" />
        <input type="text" class="form-control" id="defendantLName" name="defendant"
            placeholder="type in last name here" />
    </div>
    <button type="submit" class="btn">Add this defendant</button>
</form>