{{> docketmaster-navbar}}
{{> docketmaster-sidebar}}

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
  <section id="dashboard-header">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Docket Dashboard</h1>
    </div>
  </section>

  <section id="dashboard-search-filter">
    <div class="container-fluid border pt-1">
      <h2>{{error}}</h2>
  </section>
</main>