<div class="container">
    <div class="row p-5 m-5">
        <div class="col-md-8">
            <form class="form-signin" action="/signin" method="POST">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="email" class="sr-only">Email address</label>
                <input type="email" id="login-email" class="form-control" placeholder="Email address" required
                    autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="login-password" class="form-control" placeholder="Password" required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>