<section id="welcome">
    <div class="container">
        <div class="row p-5 m-5">
            <div class="col-md-6 col-md-offset-3">
                <h2>Welcome <span class="member-name"></span></h2>
            </div>
        </div>
    </div>
</section>

<section id="search">
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <label for="search-by-litigant">Search By Litigant</label>
                <input type="text" id="search-by-litigant">
                <input type="submit" value="Search">
            </form>
            <form class="form-inline">
                <label for="search-by-attorney">Search By Party</label>
                <input type="text" id="search-by-party">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</section>

<br>

<section id="filter">
    <div class="container-fluid">
        <div class="row">
            <form class="form-inline">
                <label for="select-by-judge">Filter By Division</label>
                <br>
                <select multiple class="form-control" id="filter-by-division">
                    {{#each divisions}}
                    <option>{{division}}</option>
                    {{/each}}
                </select>
            </form>
        </div>
    </div>
</section>

<section id="results">
    <div class="container-fluid border">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Case Number</th>
                    <th scope="col">Caption</th>
                </tr>
            </thead>
            {{#each cases}}
            <tbody>
                <tr>
                    <th scope="row">{{caseNumber}}</th>
                    <td>{{caption}}</td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</section>