<div class="container">
    <div class="row p-5 m-5">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-5 m-5">
        <div class="col-md-4">
            <div class="btn-group">
                <button class="btn btn-secondary btn-lg" type="button">
                    Filter Cases
                </button>
                <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Filter by Plaintiff</a>
                    <a class="dropdown-item" href="#">Filter by Defendant</a>
                    <a class="dropdown-item" href="#">Filter by Attorney</a>
                    <a class="dropdown-item" href="#">Filter by Judge</a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <form>
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container border">
    <div class="row p-5 m-5">
        <div class="col-md-12">
            <ul>
                {{#each case}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>