{{> signup-login-navbar}}


<div class="container mt-5">
    <div class="row p-5 m-5">
        <div class="col-6"></div>
        <div class="col-6 border border-danger mt-5 p-4">
            <h2>Sign Up Form</h2>
            <form class="signup">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-outline-info">Sign Up</button>
                </div>
            </form>
            <br />
            <p>Or, log in <a href="/login">here</a></p>
            <br />
        </div>
    </div>
</div>