<div class="container mt-4 col-6">
    <form id="create-defendant" class="mb-3 p-2">
        <div class="form-group">
            <label for="defendant"><strong>Enter Defendant</strong></label>
            <input type="text" class="form-control" id="defendantFName" name="defendant"
                placeholder="type in first name here" />
            <input type="text" class="form-control" id="defendantLName" name="defendant"
                placeholder="type in last name here" />
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-dark">Add this defendant</button>
        </div>
    </form>

    <form id="create-plaintiff" class="mb-3 p-2">
        <div class="form-group">
            <label for="plaintiff"><strong>Enter Plaintiff</strong></label>
            <input type="text" class="form-control" id="plaintiffFName" name="plaintiff"
                placeholder="type in first name here" />
            <input type="text" class="form-control" id="plaintiffLName" name="Plaintiff"
                placeholder="type in last name here" />
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-info">Add this Plaintiff</button>
        </div>
    </form>

    <form id="create-dAtty" class="mb-3 p-2">
        <div class="form-group">
            <label for="dAtty"><strong>Enter Defense Attorney</strong></label>
            <input type="text" class="form-control" id="dAttyFName" name="dAtty"
                placeholder="type in first name here" />
            <input type="text" class="form-control" id="dAttyLName" name="dAtty" placeholder="type in last name here" />
            <input type="text" class="form-control" id="dAttyBarNo" name="dAtty"
                placeholder="type in Attorney Bar Roll No." />
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-success">Add this Defense Attorney</button>
        </div>
    </form>

    <form id="create-pAtty" class="mb-3 p-2">
        <div class="form-group">
            <label for="pAtty"><strong>Enter Plaintiff Attorney</strong></label>
            <input type="text" class="form-control" id="pAttyFName" name="pAtty"
                placeholder="type in first name here" />
            <input type="text" class="form-control" id="pAttyLName" name="pAtty" placeholder="type in last name here" />
            <input type="text" class="form-control" id="pAttyBarNo" name="dAtty"
                placeholder="type in Attorney Bar Roll No." />
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-warning">Add this Prosecutor</button>
        </div>
    </form>

    <form id="create-division" class="mb-3 p-2">
        <div class="form-group">
            <label for="division"><strong>Enter New Division</strong></label>
            <input type="text" class="form-control" id="division" name="division"
                placeholder="type in division alphabet" />
            <input type="text" class="form-control" id="judgeFName" name="division"
                placeholder="type in Judge first name here" />
            <input type="text" class="form-control" id="judgeLName" name="division"
                placeholder="type in Judge last name here." />
            <input type="text" class="form-control" id="roomNumber" name="division"
                placeholder="type in room number here" />
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-secondary">Add this Division</button>
        </div>
    </form>

    <form id="create-type" class="mb-3 p-2">
        <div class="form-group">
            <label for="type"><strong>Enter New Classification of Case</strong></label>
            <input type="text" class="form-control" id="type" name="type" placeholder="type in new type of case here" />
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-outline-danger">Add this Classification</button>
        </div>
    </form>
</div>